<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <script type="text/javascript" src="/javascripts/Dice.js"></script>
    <link rel="stylesheet"
          type="text/css"
          href="/stylesheets/Dice.css" />
    <title></title>
</head>
<body>
    <div id="dice">
        <table>
            <tr>
                <td><textarea id="ta_d4">1</textarea></td>
                <td>d4</td>
                <td><label id="label_d4Answer" name="d4Answer"></label></td>
                <td><input type="button" onclick="rollDie(4)" /></td>
            </tr>
            <tr>
                <td><textarea id="ta_d6">1</textarea></td>
                <td>d6</td>
                <td><label id="label_d6Answer"></label></td>
                <td><input type="button" onclick="rollDie(6)" /></td>
            </tr>
            <tr>
                <td><textarea id="ta_d8">1</textarea></td>
                <td>d8</td>
                <td><label id="label_d8Answer"></label></td>
                <td><input type="button" onclick="rollDie(8)" /></td>
            </tr>
            <tr>
                <td><textarea id="ta_d10">1</textarea></td>
                <td>d10</td>
                <td><label id="label_d10Answer"></label></td>
                <td><input type="button" onclick="rollDie(10)" /></td>
            </tr>
            <tr>
                <td><textarea id="ta_d12">1</textarea></td>
                <td>d12</td>
                <td><label id="label_d12Answer"></label></td>
                <td><input type="button" onclick="rollDie(12)" /></td>
            </tr>
            <tr>
                <td><textarea id="ta_d20">1</textarea></td>
                <td>d20</td>
                <td><label id="label_d20Answer"></label></td>
                <td><input type="button" onclick="rollDie(20)" /></td>
            </tr>
            <tr>
                <td><textarea id="ta_d100">1</textarea></td>
                <td>d100</td>
                <td><label id="label_d100Answer"></label></td>
                <td><input type="button" onclick="rollDie(100)" /></td>
            </tr>
            <tr>
                <td><textarea id="ta_ndx_nValue">1</textarea></td>
                <td>d<textarea id="ta_ndx_xValue">x</textarea></td>
                <td><label id="label_ndxAnswer"></label></td>
                <td><input type="button" onclick="rollDie_ndx()" /></td>
            </tr>
        </table>
    </div>
</body>
</html>