<% include application_head.html %>
<script src="/socket.io/socket.io.js"></script>
<script>
    function joinRoom() {
        var roomName = document.getElementById('ta_roomName').value;
        var socket = io();
        socket.emit('test');
    }
</script>

<div id="contentBody">
    <h3>Sessions</h3>
    <h5>Room Name</h5>
    <textarea id="ta_roomName" v-model="contentBody.roomName"></textarea>
    <button id="btn_joinRoom" onclick="joinRoom()">Join</button>
</div>

<%include application_bottom.html %>



